[Desktop Entry]
Encoding=UTF-8
Name=Link to Download Raw hosts.deny file
Type=Link
URL=https://hosts.ubuntu101.co.za/hosts.deny
Icon=application-octet-stream

