[Desktop Entry]
Encoding=UTF-8
Name=Link to Download Raw superhosts.deny file
Type=Link
URL=https://hosts.ubuntu101.co.za/superhosts.deny
Icon=application-octet-stream
